/* Your Website Styles */
body{

}

html{
  max-height: none;
}
/* Gallery Stying */
.gallery .control-button {

  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}


.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

h1{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  color:#006666;
  font-size: 6.25em;
  margin:0 auto;
  padding-bottom: .3em;
}
.right{
  text-align: right;
}
/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  position:absolute;
  top:1em;
  height: 600px;
  
  text-align: center;
  background: #006666;
}
.gallery .controls {
  position: absolute;
  bottom: -.7em;
  width: 100%;
  max-width:100%;
  text-align: center;
}

.gallery .item img{
  top:100px;

}
img{
  width:100%;
  max-width:960px;
  max-height: 400px;
  position:relative;

}

.gallery .controls img {
  opacity:.5;
  width:80%;
  max-width:100px;
  max-height: 100px;
  border-radius:50%;
  border: 5px solid #CAF547;
  transition:border-color 1s, width .5s, opacity .4s;
}
#yar figure img{
  top:5em;
}
.gallery .controls img:hover {
  opacity: 1;
  width:82%;
  border-color: #46c8f5;
  }

.gallery .control-button {
  display: inline-block;
  margin: 0 1em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color 1s;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.gallery .item{
  transition:opacity 2s;
}

.top{
  text-align:center;
  background: #CAF547;
  opacity: .75;
  border-radius: 3.125em;
  width: 1000px;
  margin:0 auto;
}

.top img{
  float:left;
  width: 100px;
  padding-left: 1em;
  padding-top: 1em;
  -webkit-transform:translateX(0em);
  transition: -webkit-transform 1s;
}

.top img:hover{
  -webkit-transform:translateX(1em);
}


.btn{
  color: #006666;
  background: #A3C2A3;
  padding: 1em 2em;
  margin: 50px 0px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: padding .5s, background-color .5s;
}

.btn:hover {
  background-color: #CAF547;
  padding:1em 2.25em;
}

.cont{
  margin-left: 40%;
}